@media (max-width: 875px) {
    .L_Box {
        display: none;
    }
}

.Outer {
    /* padding: 0; */
}

.Inner {
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 200vh;
}

.L_Box {
    /* border: 1px solid green; */
    float: left;
    margin-right: 10px;
    position: relative;
}

.slide{
    position: absolute;
    top: 100px;
    left: 151px;
}

.R_Box {
    /* border: 1px solid green; */
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    margin-right: 10px;
    /* display: flex; */
}

.login_box{
    width: 268px;
    height: 38px;
    color: #999999;
    background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin: auto;
    padding: 7px;
}

.Outer_login_btn {
    display: flex;
}

.login_btn {
    width: 268px;
    height: 30px;
    border-radius: 6px;
    border: none;
    margin: auto;
    background-color: #0095F6;
    color: white;
    font-size: 14px;
}

.or {
    align-items: center;
    display: flex;
}

.line1 {
    height: 1px;
    width: 100px;
    background-color: #dbdbdb;
    margin: auto;
}

.line2 {
    text-decoration: none;
}

.imgb{
    width: 310px;
    height: 580px;
}
  
.imgw{
    width: 310px;
    height: 560px;
    position: relative;
    bottom: 565px;
    left: 70px;
}